<div fxLayout='row wrap' class='flat-list'>

  <mat-card *ngFor="let flat of flats" class="flat-card mat-elevation-z10"
    fxFlex='100%' fxFlex.md='45%' fxFlex.lg='30%' fxFlex.xl='22%'
    (mouseenter)='selectFlat(flat.id)' (mouseleave)='deselectFlat()'
    [ngClass]="{'highlighted' : flat.id === selectedFlatIdx } "
  >

    <mat-card-header>

      <mat-card-title> {{flat.price.amount}} $/month </mat-card-title>

    </mat-card-header>

    <img mat-card-img [src]='flat.picturePath' class='flat-image'>

    <mat-card-content>
      <p> <b>Address:</b> {{flat.streetAddress}} {{flat.zip}}</p>
    </mat-card-content>

  </mat-card>
</div>

