<div class='container' fxLayout='row' fxLayout.xs='column' fxFlexFill fxLayoutGap="2%">
  <div fxFlex="50" fxFlex.xs="100" >
    <app-flat-list [flats]='flats$ | async' [selectedFlatIdx]='selectedFlat$ | async' (selectFlatByIdx)='changeSelectedFlat($event)'></app-flat-list>
  </div>
  <div fxFlex="50" fxFlex.xs="100">
    <app-flat-map></app-flat-map>
  </div>
</div>
